/* NAVBAR */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.navbar {
    width: 100%;
    background-color: dodgerblue;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
}

.nav-list {
    list-style-type: none;
}

.nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
}

.nav-list .log-out {
    width: auto;
    height: auto;
    padding: 6px;
}

/*
.nav-list .list-item:hover {
    background-color: white;
}
*/

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
}

@media all and (max-width: 800px) {
    .navbar {
        flex-direction: column;
        position: relative;
    }

    .navbar .container-icon {
        width: 100%;
    }

    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    .nav-list {
        list-style-type: none;
        width: 100%;
        text-align: center;
        padding-top: 10px;
    }

    .nav-list .list-item {
        display: block;
        border-top: 1px solid white;
    }

    .primary-icon {
        margin-left: 10px;
        margin-top: 10px;
    }

}
